<!DOCTYPE html>
<html>
  <head>
    <title>CourierService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if notice %> <p class="alert alert-success"><%= notice %></p> <% end %> 
  <% if alert %> <p class="alert alert-danger"><%= alert %></p> <% end %>
    <ul>
      <%if user_signed_in?%>
        <li><a href="/">Home</a></li>
        <li><a href="/parcels">Parcels</a></li>
        <li><a href="/users_admin">Manage Users</a></li>
        <%if current_user.has_role? :admin %>
          <li><a href="/service_types">Service Types</a></li>
          <li><a href="/reports">Reports</a></li>
        <%end%>  
      <%end%>
    </ul>

    <%= yield %>
  </body>
</html>
